# Configuration du serveur backend
PORT=3001

# URL du serveur backend (utilisée pour le proxy audio)
# En local:
SERVER_URL=http://localhost:3001
# En production:
# SERVER_URL=https://blindtest-backend-cfbp.onrender.com

# URL du client frontend (sera l'URL Vercel en production)
CLIENT_URL=http://localhost:3000

# Exemple en production:
# CLIENT_URL=https://votre-app.vercel.app
